.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }

body
{
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    color: #606c71;
}

.heading
{
    color: #159957;
}

table
{
    border-spacing: 0;
}

th, td
{
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

th
{
    font-weight: bold;
}

a
{
    font-weight: bold;
    color: #1e6bb8;
    text-decoration: none;
}

code
{
    background-color: transparent;
    color: #567482;
    font-size: 0.9rem;
    border: 1px solid #dce6f0;
    padding: 5px;
    border-radius: 0.3rem;
}

a:hover
{
    text-decoration: underline;
}

.checklist
{
    list-style-type: none;
}

.checklist input
{
    float: left;
}